# Computer Vision, Math & Data
numpy
opencv-python
matplotlib

# Poppy Humanoid & Hardware Communication
pypot
poppy-humanoid
pyserial

# Audio, Speech & AI Integration
pygame
SpeechRecognition
openai
python-dotenv
pyaudio
pyttsx3>=2.90

# GUI
PyQt5